body {
    padding-top: 56px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #07689f;
}

.viewPort {
    height: calc(100vh - 60px);
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}